@page
@using LMS.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        window.onload = function() {
            location.href = "identity/login";
        }
    </script>
</head>

<body>

</body>

</html>
