@page
@using Web.Extensions
@model Web.Pages.Tutor.AcceptSlotModel
@{
}
<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto">
            <h4 class="page-title">Accept Slot</h4>
            <div class="d-inline-block align-items-center">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                        <li class="breadcrumb-item" aria-current="page">Accept Slot</li>
                        <li class="breadcrumb-item active" aria-current="page">Accept Slot</li>
                    </ol>
                </nav>
            </div>
        </div>

    </div>
</div>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <form class="form" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Id" type="hidden" />
                        <div class="box-body">
                            <div class="form-group">
                                <label asp-for="Input.Subject" class="form-label"></label>
                                <input asp-for="Input.Subject.Name" class="form-control" aria-required="true" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Course" class="form-label"></label>
                                <input asp-for="Input.Course.Name" class="form-control" aria-required="true" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Topic" class="form-label"></label>
                                <input asp-for="Input.Topic" class="form-control" aria-required="true" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Date" class="form-label"></label>
                                <input asp-for="Input.Date" class="form-control" aria-required="true" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.SlotTime1" class="form-label"></label>
                                <input asp-for="Input.SlotTime1" class="form-control" aria-required="true" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.SlotTime2" class="form-label"></label>
                                <input asp-for="Input.SlotTime2" class="form-control" aria-required="true" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.SlotTime3" class="form-label"></label>
                                <input asp-for="Input.SlotTime3" class="form-control" aria-required="true" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.AcceptedSlotTime" class="form-label"></label>
                                <select asp-for="Input.AcceptedSlotTime" asp-items="@Model.SlotTimes.ToSelectItems()" class="form-control">
                                    <option value="">Select Slot Time</option>
                                </select>
                            </div>                            
                        </div>
                        <div class="box-footer">
                            <button id="registerSubmit" type="submit" class="btn btn-danger mt-10">Accept</button>
                            <a href="##" onClick="history.go(-1); return false;" class="btn btn-danger mt-10">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>